<div class="relative py-4 bg-black">
    <!-- <div class="absolute inset-0 z-0 max-lg:hidden ">
        {{ $cardImage := resources.Get .Site.Params.homepage.whyStroke2_lg }}
        <img class="m-0 object-cover w-full h-full nozoom" src="{{ $cardImage.RelPermalink }}" alt="background stroke">
    </div>
    <div class="absolute inset-0 z-0 lg:hidden max-sm:hidden">
        {{ $cardImage := resources.Get .Site.Params.homepage.whyStroke1_md }}
        <img class="m-0 object-cover w-full h-full nozoom" src="{{ $cardImage.RelPermalink }}" alt="background stroke">
    </div>
    <div class="absolute inset-0 z-0 sm:hidden">
        {{ $cardImage := resources.Get .Site.Params.homepage.whyStroke1_sm }}
        <img class="m-0 object-cover w-full h-full nozoom" src="{{ $cardImage.RelPermalink }}" alt="background stroke">
    </div> -->
    <div class="relative justify-center flex z-10">
        <div class="md:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-24">
            <div class="mx-auto max-w-xl py-12 px-12 ">
                <div class="relative">
                    {{ $homepageImage := "" }}
                    {{ with .Site.Params.homepage.whyImg1 }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $homepageImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $homepageImage = resources.Get . }}
                        {{ end }}
                    {{ end }}
                    {{ if $homepageImage }}
                    <img class="object-scale-down"
                        src="{{ $homepageImage.RelPermalink }}"
                        alt="test img">
                    {{ end }}
                </div>
            </div>
            <div class="max-w-2xl items-center content-center">
                <div class="p-3 lg:my-24 my-12 w-full items-center justify-center flex relative">
                    <div class="bg-gradient-why-2-black"></div>
                    <div class="text-white max-w-lg text-center  font-bold">
                        Renoir a highly flexible framework that is able to connect the different components of your infrastructure and scale them on multiple machines
                    </div>
                </div>
                <div class="w-full text-center flex justify-center">
                    <a class="w-fit glass-black p-4 rounded-3xl dark:decoration-primary-600 text-xl font-bold hover:underline">
                        <span class="gradient-white-renoir">
                        Explore Renoir
                        </span>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
