{{ if eq .bg "black" }}
<div class="relative py-4 bg-black">
{{ else if eq .bg "white"}}
<div class="relative py-4 bg-white">
{{ end}}

    <div class="relative justify-center flex z-10">
        <div class="md:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-24">
            {{ if eq .left "false"}}
            <div class="mx-auto max-w-xl py-12 px-12 ">
                <div class="relative">
                    {{ $homepageImage := "" }}
                    {{ with .context.Site.Params.homepage.whyImg1 }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $homepageImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $homepageImage = resources.Get . }}
                        {{ end }}
                    {{ end }}
                    {{ if $homepageImage }}
                    <img class="object-scale-down"
                        src="{{ $homepageImage.RelPermalink }}"
                        alt="test img">
                    {{ end }}
                </div>
            </div>
            <div class="max-w-2xl items-center content-center">
                {{ if eq .title "true" }}
                <div class="p-3 items-center justify-center flex relative">
                    <div class="bg-gradient-why max-w-[600px] "></div>
                    <div class="max-w-md text-4xl font-bold gradient-logo-renoir text-center">
                        Why DataBrush? <br> Let me introduce Renoir
                    </div>
                </div>
                {{ end }}
                <div class="p-3 lg:my-24 my-12 w-full items-center justify-center flex relative">
                    {{ if eq .bg "black" }}
                    <div class="bg-gradient-why-2-black"></div>
                    <div class="text-white max-w-lg text-center font-bold">
                    {{ else if eq .bg "white" }}
                    <div class="bg-gradient-why-2"></div>
                    <div class="text-black max-w-lg text-center font-bold">
                    {{ end }}
                        Renoir a highly flexible framework that is able to connect the different components of your infrastructure and scale them on multiple machines
                    </div>
                </div>
                <div class="w-full text-center flex justify-center">
                    
                        {{ if eq .bg "black" }}
                        <a class="w-fit glass-black p-4 rounded-3xl dark:decoration-primary-600 text-xl font-bold hover:underline">
                        <span class="gradient-white-renoir">
                        {{ else if eq .bg "white" }}
                        <a class="w-fit glass p-4 rounded-3xl dark:decoration-primary-600 text-xl font-bold hover:underline">
                        <span class="gradient-black-renoir">
                        {{ end }}
                        Explore Renoir
                        </span>
                </a>
                </div>
            </div>
            {{ else if eq .left "true" }}
            <div class="max-w-2xl items-center content-center">
                {{ if eq .title "true" }}
                <div class="p-3 items-center justify-center flex relative">
                    <div class="bg-gradient-why max-w-[600px] "></div>
                    <div class="max-w-md text-4xl font-bold gradient-logo-renoir text-center">
                        Why DataBrush? <br> Let me introduce Renoir
                    </div>
                </div>
                {{ end }}
                <div class="p-3 lg:my-24 my-12 w-full items-center justify-center flex relative">
                    {{ if eq .bg "black" }}
                    <div class="bg-gradient-why-2-black"></div>
                    <div class="text-white max-w-lg text-center font-bold">
                    {{ else if eq .bg "white" }}
                    <div class="bg-gradient-why-2"></div>
                    <div class="text-black max-w-lg text-center font-bold">
                    {{ end }}
                        Renoir a highly flexible framework that is able to connect the different components of your infrastructure and scale them on multiple machines
                    </div>
                </div>
                <div class="w-full text-center flex justify-center">
                    
                        {{ if eq .bg "black" }}
                        <a class="w-fit glass-black p-4 rounded-3xl dark:decoration-primary-600 text-xl font-bold hover:underline">
                        <span class="gradient-white-renoir">
                        {{ else if eq .bg "white" }}
                        <a class="w-fit glass p-4 rounded-3xl dark:decoration-primary-600 text-xl font-bold hover:underline">
                        <span class="gradient-black-renoir">
                        {{ end }}
                        Explore Renoir
                        </span>
                </a>
                </div>
            </div>
            <div class="mx-auto max-w-xl py-12 px-12 ">
                <div class="relative">
                    {{ $homepageImage := "" }}
                    {{ with .context.Site.Params.homepage.whyImg1 }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $homepageImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $homepageImage = resources.Get . }}
                        {{ end }}
                    {{ end }}
                    {{ if $homepageImage }}
                    <img class="object-scale-down"
                        src="{{ $homepageImage.RelPermalink }}"
                        alt="test img">
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
