<div class="flex gap-4 p-4">
    <div class="flex flex-col w-full">
        <!-- Left Column -->
        <div class="w-full flex flex-col sm:flex-row items-center">
            <img src="Time.png" alt="Image 1" class="w-full sm:w-2/3 h-auto shadow-md">
            <p class="mt-2 sm:mt-0 text-gray-700 text-center sm:text-left sm:border-l-2 border-primary-500 sm:pl-3">
                Renoir is simple. <br>
                It allows the user to reach a production-ready product faster by eliminating the need to create, integrate, and
                optimize different processes by hand.
            </p>
        </div>

        <!-- Right Column -->
        <div class="w-full flex flex-col sm:flex-row items-center mt-6 border-t-4 pt-6">
            <img src="Resource.png" alt="Image 2" class="w-full sm:w-2/3 h-auto shadow-md">
            <p class="mt-2 sm:mt-0 text-gray-700 text-center sm:text-left sm:border-l-2 border-primary-500 sm:pl-3">
                Renoir is efficient. <br>
                It can process up to 100 times more data than the competitor and obtain insight in real-time, allowing the client
                to cut the costs needed for a new infrastructure.
            </p>
        </div>
    </div>
</div>
