{{- $posts := (where .context.Site.RegularPages "Section" .folder | first 3) -}}
<div>
    <h2 class="w-fit gradient-logo text-4xl font-bold text-left p-6">{{ .title }}</h2>
    <ul class="grid grid-cols-1 md:grid-cols-3 gap-4 px-6">
        {{- range $posts -}}
        <li
            class="card bg-white shadow-lg p-6 m-3 rounded-lg transition-transform transform hover:scale-105 hover:shadow-xl hover:bg-green-100">
            <a href="{{ .Permalink }}" class="block h-full">
                <div class="card-content h-full flex flex-col justify-between">
                    {{ $homepageImage := "" }}
                    {{ with .Params.img}}
                    {{ $homepageImage = resources.Get . }}
                    {{ end }}
                    <img class="object-scale-down" src="{{ $homepageImage.RelPermalink }}" alt="test img">
                    <h3 class="text-lg font-semibold mb-2 text-black">{{ .Params.title }}</h3>
                    <p class="text-black max-md:hidden">{{ .Params.summary }}</p>
                </div>
            </a>
        </li>
        {{- end -}}
    </ul>
</div>

<style>
    .card {
        border: 1px solid transparent;
        transition: all 0.3s ease;
    }

    .card:hover {
        border-color: #38a169;
        /* Tailwind's green-600 */
        box-shadow: 0 0px 30px 0 rgba(72, 187, 120, 0.75);
    }
</style>