<div class="grid grid-cols-1 md:grid-cols-6 gap-6">
    <!-- Phase 1 -->
    <div class="col-span-4 md:col-span-1 text-white font-semibold mb-2 md:mb-0 flex items-center justify-center text-5xl underline decoration-secondary-300 underline-offset-8">
        2024
    </div>
    <div class="hidden md:flex col-span-1 justify-center relative">
        <div class="absolute w-1 h-full bg-white rounded"></div>
        <div class="w-3 h-3 bg-white rounded-full absolute top-0"></div> <!-- Connector Dot -->
    </div>
    <div class="col-span-4 p-6 bg-white rounded-lg shadow-lg border-secondary-300 border-4 shadow-secondary-300">
        <h2 class="text-3xl font-bold text-black">Phase 1: Initial Enhancements</h2>
        <ul class="mt-4 list-disc list-inside text-black font-bold">
            <li>Improve user experience by optimizing the documentation</li>
            <li>Integrate logical and geographic custom deployment</li>
            <li>Create real-world use-cases with our partners</li>
        </ul>
    </div>

    <!-- Phase 2 -->
    <div class="col-span-4 md:col-span-1 text-white font-semibold mb-2 md:mb-0 flex items-center justify-center text-5xl underline decoration-secondary-300 underline-offset-8">
        2025
    </div>
    <div class="hidden md:flex col-span-1 justify-center relative" >
        <div class="absolute w-1 h-full bg-white rounded"></div>
        <div class="w-3 h-3 bg-white rounded-full absolute top-0"></div> <!-- Connector Dot -->
    </div>
    <div class="col-span-4 p-6 bg-white rounded-lg shadow-lg border-secondary-300 border-4 shadow-secondary-300">
        <h2 class="text-3xl font-bold text-black">Phase 2: Platform Release</h2>
        <ul class="mt-4 list-disc list-inside text-black font-bold">
            <li>New platform to create and manage Renoir's workflows</li>
            <li>Add AI-driven tools to streamline pipeline creation.</li>
            <li>Launch API support for easy external tool integration.</li>
        </ul>
    </div>

    <!-- Phase 3 -->
    <div class="col-span-4 md:col-span-1 text-white font-semibold mb-2 md:mb-0 flex items-center justify-center text-5xl underline decoration-secondary-300 underline-offset-8">
        2026
    </div>
    <div class="hidden md:flex col-span-1 justify-center relative" >
        <div class="absolute w-1 h-full bg-white rounded"></div>
        <div class="w-3 h-3 bg-white rounded-full absolute top-0"></div> <!-- Connector Dot -->
    </div>
    <div class="col-span-4 p-6 bg-white rounded-lg shadow-lg border-secondary-300 border-4 shadow-secondary-300">
        <h2 class="text-4xl font-bold text-black">Phase 3: To the Cloud</h2>
        <ul class="mt-4 list-disc list-inside text-black font-bold">
            <li>Renoir Cloud where pipelines run on our infrastructure</li>
            <li>Host webinars and workshops for faster onboarding</li>
            <li>Overall improvements to the platform based on user feedback</li>
        </ul>
    </div>
</div>