{{ define "main" }}

<article>

    <div class="p-3 items-center justify-center mb-6">
        <div class="text-4xl md:text-6xl font-bold text-center">
      {{ .Title | emojify }}
        </div>

    </div>
        <div class="relative flex  justify-center">
            {{ $image := .Resources.Get "Renoir_group_black.jpg" }}
        {{ if $image }}
        <img class="object-scale-down relative max-w-screen-md" src="{{ $image.Permalink }}" alt="{{ .Params.title }}" />
        {{ else }}
        <p>Error: Image not found</p>
        {{ end }}
    </div>

  <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row justify-center">
    <div class="justify-center">
      <div class="article-content max-w-prose mb-20 text-center text-2xl font-bold mt-4">
        {{ .Content | safeHTML | replaceRE "<custom>([\\s\\S]+?)</custom>" "{{< custom >}}$1{{< /custom >}}" | replaceRE "<renoir>([\\s\\S]+?)</renoir>" "{{< renoir >}}$1{{< /renoir >}}" | replaceRE "<logo>([\\s\\S]+?)</logo>" "{{< logo >}}$1{{< /logo >}}"|markdownify | safeHTML  }}
      </div>
    </div>
  </section>

</article>
{{ end }}
