{{ define "main" }}

<article>

  <div class="p-3 items-center justify-center mb-6">
      <div class="text-4xl md:text-6xl font-bold text-center">
    {{ .Title | emojify }}
      </div>
  </div>

  <div class="relative flex justify-center">
      {{ $image := .Resources.Get "Renoir_group_black.jpg" }}
      {{ if $image }}
      <img class="object-scale-down relative max-w-full" src="{{ $image.Permalink }}" alt="{{ .Params.title }}" />
      {{ else }}
      <p>Error: Image not found</p>
      {{ end }}
  </div>

  <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row justify-center">
    <div class="justify-center">
      <div class="article-content max-w-prose text-center text-2xl font-bold mt-4">
        {{ .Content | safeHTML | replaceRE "<custom>([\\s\\S]+?)</custom>" "{{< custom >}}$1{{< /custom >}}" | replaceRE "<renoir>([\\s\\S]+?)</renoir>" "{{< renoir >}}$1{{< /renoir >}}" | replaceRE "<logo>([\\s\\S]+?)</logo>" "{{< logo >}}$1{{< /logo >}}"|markdownify | safeHTML  }}
      </div>


    </div>

    </section>
    <div class="flex justify-center pt-4">
    <div class="flex flex-col items-center mt-6"></div>
      <form action="https://formspree.io/f/xyzyvkzw" method="POST" class="w-full max-w-lg">
      <div class="flex flex-col mb-4">
        <label class="mb-2 text-xl font-bold " for="email">Your email:</label>
        <input class="border py-2 px-3 text-black font-bold border-primary-500 shadow-renoir border-2" type="email" name="email" id="email" required>
      </div>
      <div class="flex flex-col mb-4">
        <label class="mb-2 text-xl font-bold" for="message">Your message:</label>
        <textarea class="border py-2 px-3 text-black font-bold border-primary-500 shadow-renoir border-2" name="message" id="message" rows="5" required></textarea>
      </div>
      <!-- your other form fields go here -->
      <div class="flex justify-center">
        <button class="transition-transform transform hover:scale-105 w-1/3 bg-black border-2 hover:border-primary-500 shadow-hover-renoir p-4 rounded-3xl text-2xl font-bold" type="submit">Send</button>
      </div>
      </form>
    </div>
  </div>
</article>
{{ end }}
