{{ define "main" }}

<div class="flex justify-center items-center">
    <h1 class="text-5xl md:text-9xl font-bold my-5 text-center gradient-white-renoir">{{ .Title }}</h1>
</div>
<div class="justify-center flex items-center self-center mb-4">
    <div class="min-w-0 min-h-0 max-w-prose text-xl md:text-2xl font-normal text-justify text-neutral-300">
        {{ with .Site.Data.renoir.info.abstract }}
        {{ . | markdownify | safeHTML }}
        {{ end }}
    </div>
</div>

<div class="flex mt-5 items-center justify-center">
    <h1 class="text-4xl md:text-6xl font-bold my-5 text-center max-w-fit justify-center">Characteristics</h1>
</div>

{{ $global := . }}
{{ range .Site.Data.renoir.info.cards }}
{{ partial "components/card.html" (dict "left" .left "title" "" "paragraph" .paragraph "img" .img "button" "false"
"context" $global ) }}
{{ end }}

<!-- Features -->
<div class="flex mt-5 items-center justify-center">
    <h1 class="text-4xl md:text-6xl font-bold my-5 text-center max-w-fit justify-center">Features</h1>
</div>

{{ partial "components/conn-rect.html" (dict "first" true "last" false "text_left" "Describe the Environment where your application will run" "text_center" "Environment" "text_right" "**Renoir** will take care of utilizing the resources at best") }}
{{ partial "components/conn-rect.html" (dict "first" false "last" false "text_left" "Connect to your data wherever they are " "text_center" "Data" "text_right" "**Renoir** is customizable to adapt to your infrastracture") }}
{{ partial "components/conn-rect.html" (dict "first" false "last" false "text_left" "Attach the operators that you need to manage, transform and analyse your data" "text_center" "Operators" "text_right" "**Renoir** offers a vast set of tools allowing you to obtain everything you want from your data") }}
{{ partial "components/conn-rect.html" (dict "first" false "last" true "text_left" "Send the insight that you obtain where they are needed the most" "text_center" "Results" "text_right" "**Renoir** offers the ability to manage the results of your analysis however you want") }}

<!-- Performance -->
<div class="flex justify-center items-center">
    <h1 class="text-4xl md:text-5xl font-bold my-5 text-center max-w-fit justify-center">Performance</h1>
</div>

{{ partial "components/performance.html" (dict "img1" "image1.jpg" "img2" "image2.jpg" "text1" "Text under the left image"
"text2" "Text under the right image") }}


<!-- Awards -->
<div class="flex justify-center items-center">
    <h1 class="text-4xl md:text-5xl font-bold my-5 text-center max-w-fit justify-center">Awards</h1>
</div>

{{ partial "components/award.html" (dict "img1" "image1.jpg" "img2" "image2.jpg" "text1" "Text under the left image" "text2" "Text under the right image") }}

<div class="flex mt-5 justify-center">
    <h1 class="text-4xl md:text-7xl font-bold my-5 text-left max-w-fit">Start Now</h1>
</div>

<div class="justify-center flex items-center self-center mb-4">
    <div class="min-w-0 min-h-0 max-w-prose text-xl md:text-2xl font-normal text-justify text-neutral-300">
        {{ with .Site.Data.renoir.info.start }}
        {{ . | markdownify | safeHTML }}
        {{ end }}
    </div>
</div>

<div class="w-full text-center flex justify-center pb-12 mt-3">
    <a
        class=" transition-transform transform hover:scale-105  w-fit bg-black border-2 hover:border-primary-500 shadow-hover-renoir p-4 rounded-3xl text-xl font-bold" href="../book">
        <span class="text-white">
            Documentation
        </span>
    </a>
</div>

<div class="justify-center items-center">
    {{.Content}}
</div>
{{ end }}
