.gradient-text {
    background: linear-gradient(to right, 
                                rgb(var(--color-neutral-100)),
                                rgb(var(--color-secondary-600)));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}