<article class="max-w-full prose dark:prose-invert">
    <div class="relative">
        <div class="mx-auto max-w-7xl p-0 mt-10">
            <div class="relative sm:overflow-hidden">
                <div class="relative px-1 py-1 flex flex-col items-center text-center">
                    <h1 class="mb-2 text-3xl font-extrabold text-neutral-800 dark:text-neutral-200 max-w-lg">
                        YOU NEED A <span class="gradient-logo-renoir">BRUSH</span> TO PAINT A DATA MASTERPIECE
                    </h1>
                    <h2 class="mt-6 mb-0 text-lg text-neutral-800 dark:text-neutral-300 max-w-lg">
                        Createa a <span class="gradient-logo-renoir">Fast</span>, <span class="gradient-logo-renoir">Easy</span>, <span class="gradient-logo-renoir">Flexible</span> and <span class="gradient-logo-renoir">Efficient</span> Data Infrastructure that grows with your business
                    </h2>
                </div>
            </div>
        </div>
    </div>
    {{ partial "components/card.html" . }}
</article>