<ol class="sidebar-menu">
    {{ $currentPage := .Page }}
    {{ $section := $currentPage.Section -}}
    {{ range $currentPage.Sections.ByWeight -}}
    {{ $active := in $currentPage.RelPermalink .RelPermalink }}
    <li class="sidebar-dropdown ">
        <div class="text-neutral-50 font-bold ">
            <span>{{ .Title }}</span>
        </div>
        <div class="sidebar-submenu {{ if $active }}d-block{{ end }}">
<ul class="sub">
    {{ range .Pages }}
    <li class="hover:underline decoration-primary-600 decoration-2" >
        <a href="{{.RelPermalink}}" class="text-primary-300">{{ .Title }}</a>
        </li>
        {{ end }}
</ul>
        </div>
    </li>
    {{ end }}
</ol>